#push-bell-container.push-reset {
    z-index: 2147483000;
    position: fixed
}

#push-bell-container.push-reset.push-bell-container-bottom-left {
    bottom: 0;
    left: 0
}

#push-bell-container.push-reset.push-bell-container-bottom-right {
    bottom: 0;
    right: 0
}

#push-bell-container.push-reset .push-bell-launcher {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: initial;
    position: absolute;
    z-index: 2147483000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    transform: scale(.01) translateZ(0);
    opacity: 0;
    transition: transform 175ms ease-in-out, opacity 175ms ease-in-out
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left {
    bottom: 20px;
    left: 20px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-sm {
    transform-origin: center center;
    width: 32px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-sm .push-bell-launcher-message {
    left: 42px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-sm .push-bell-launcher-dialog {
    bottom: 39px;
    left: 0;
    transform-origin: left bottom
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-sm .push-bell-launcher-dialog:before {
    left: 5px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-sm .push-bell-launcher-dialog:after {
    left: 7px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-md {
    transform-origin: center center;
    width: 48px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-md .push-bell-launcher-message {
    left: 61px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-md .push-bell-launcher-dialog {
    bottom: 58px;
    left: 0;
    transform-origin: left bottom
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-md .push-bell-launcher-dialog:before {
    left: 12px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-md .push-bell-launcher-dialog:after {
    left: 14px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-lg {
    transform-origin: center center;
    width: 64px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-lg .push-bell-launcher-message {
    left: 81px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-lg .push-bell-launcher-dialog {
    bottom: 78px;
    left: 0;
    transform-origin: left bottom
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-lg .push-bell-launcher-dialog:before {
    left: 18px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left.push-bell-launcher-lg .push-bell-launcher-dialog:after {
    left: 20px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left .push-bell-launcher-badge {
    left: 4px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left .push-bell-launcher-message {
    transform-origin: left center
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left .push-bell-launcher-message:after {
    right: 100%;
    border-right-color: #000
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-left .push-bell-launcher-button {
    left: 0
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right {
    bottom: 20px;
    right: 20px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-sm {
    transform-origin: center center;
    width: 32px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-sm .push-bell-launcher-message {
    right: 42px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-sm .push-bell-launcher-dialog {
    bottom: 39px;
    right: 0;
    transform-origin: right bottom
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-sm .push-bell-launcher-dialog:before {
    right: 5px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-sm .push-bell-launcher-dialog:after {
    right: 7px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-md {
    transform-origin: center center;
    width: 48px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-md .push-bell-launcher-message {
    right: 61px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-md .push-bell-launcher-dialog {
    bottom: 58px;
    right: 0;
    transform-origin: right bottom
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-md .push-bell-launcher-dialog:before {
    right: 12px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-md .push-bell-launcher-dialog:after {
    right: 14px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-lg {
    transform-origin: center center;
    width: 64px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-lg .push-bell-launcher-message {
    right: 81px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-lg .push-bell-launcher-dialog {
    bottom: 78px;
    right: 0;
    transform-origin: right bottom
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-lg .push-bell-launcher-dialog:before {
    right: 18px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right.push-bell-launcher-lg .push-bell-launcher-dialog:after {
    right: 20px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right .push-bell-launcher-badge {
    right: 4px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right .push-bell-launcher-message {
    transform-origin: right center
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right .push-bell-launcher-message:after {
    left: 100%;
    border-left-color: #000
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-bottom-right .push-bell-launcher-button {
    right: 0
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-button {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    transition: transform 175ms ease-in-out, border 175ms ease-in-out, width 175ms ease-in-out, height 175ms ease-in-out;
    cursor: pointer;
    z-index: 2147483000
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-button svg {
    width: 100%;
    height: 100%;
    overflow: visible
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-button.push-bell-launcher-button-hover {
    cursor: pointer
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-badge {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    text-align: center;
    top: 0;
    cursor: pointer;
    -webkit-filter: drop-shadow(0 2px 4px rgba(34, 36, 38, 0));
    filter: drop-shadow(0 2px 4px rgba(34, 36, 38, 0));
    transition: transform 175ms ease-in-out, border 175ms ease-in-out, opacity .21s ease-in-out, width .21s ease-in-out, height .21s ease-in-out, position .21s ease-in-out, right .21s ease-in-out, top .21s ease-in-out, bottom .21s ease-in-out, left .21s ease-in-out;
    z-index: 2147483400;
    opacity: 0;
    transform: scale(.01);
    pointer-events: none
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-badge.push-bell-launcher-badge-hover {
    cursor: pointer
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-badge.push-bell-launcher-badge-opened {
    opacity: 1;
    transform: scale(1)
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-message {
    position: absolute;
    color: #fff;
    background: #000;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(-50%) scaleX(0) translateZ(0);
    opacity: 0;
    pointer-events: none;
    transition: transform 175ms ease-in-out, opacity 175ms ease-in-out;
    top: 50%;
    z-index: 2147481000
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-message:after {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-message .push-bell-launcher-message-body {
    z-index: 2147482000;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-message.push-bell-launcher-message-opened {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-50%) scaleX(1) translateZ(0)
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog {
    cursor: pointer;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    opacity: 0;
    width: 200px;
    transform: scale(0) translateZ(0);
    transition: transform 175ms ease-in-out, opacity 175ms ease-in-out;
    z-index: 2147481000
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog ol {
    counter-reset: foo;
    display: table;
    border-spacing: .3em .75em
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog ol>li {
    counter-increment: foo;
    display: table-row;
    margin-bottom: .75em
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog ol>li:before {
    content: counter(foo) ".";
    display: table-cell;
    text-align: right
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog:after,
#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog .push-bell-launcher-dialog-body {
    z-index: 2147482000;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog.push-bell-launcher-dialog-opened {
    transform: scale(1) translateZ(0);
    opacity: 1
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog a {
    box-sizing: border-box;
    text-decoration: none;
    color: initial
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog a:active,
#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog a:focus,
#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog a:hover,
#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog a:hover:active,
#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog a:visited {
    text-decoration: none;
    color: initial
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog button {
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: .625em 1em;
    box-shadow: none;
    border-radius: 4px;
    font-weight: 400;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: .65px;
    cursor: pointer
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog button.action {
    color: #fff;
    background: #e54b4d;
    width: 100%
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog button.action:hover {
    background: #dd2022
}

#push-bell-container.push-reset .push-bell-launcher .push-bell-launcher-dialog button.action:active {
    background: #b1191b
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm {
    height: 32px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-button {
    width: 32px;
    height: 32px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-badge {
    font-size: 8px;
    width: 12px;
    height: 12px;
    line-height: 12px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-message {
    padding: 9.6px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-message:after {
    border-width: 6.6px;
    margin-top: -6.6px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-message .push-bell-launcher-message-body {
    font-size: 14px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog {
    padding: .3em .8em .6em;
    color: #333
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog:after {
    border-top-color: #fff;
    border-width: 6.6px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog:before {
    border-top-color: hsla(0, 0%, 71%, .1);
    border-width: 8.6px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body {
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body h1 {
    font-size: 15px;
    line-height: 1.2em;
    font-weight: 500;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: .2px;
    text-align: center;
    color: #41090a
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body p {
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .divider {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: .25em -.93em
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .kickback {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 9.8px;
    letter-spacing: .5px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .instructions {
    max-width: 95vw;
    max-height: 70vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .instructions img {
    width: 100%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification {
    display: -ms-flexbox;
    display: flex;
    max-width: 330px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    background: hsla(0, 0%, 98%, .5);
    overflow: auto;
    margin: .5em 0
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon {
    width: 50px;
    height: 50px;
    margin: 6px;
    margin-right: 3px;
    border-radius: 2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon.push-notification-icon-default {
    background: #e3e4e5
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon img {
    width: 50px;
    height: 50px;
    border-radius: 1px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container {
    margin: 6px;
    margin-left: 3px;
    -ms-flex: 1;
    flex: 1
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text {
    height: 5px;
    width: 100%;
    background: #e3e4e5;
    margin: 5px 0;
    border-radius: 1px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text.push-notification-text-short {
    width: 75%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text.push-notification-text-medium {
    width: 87%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text:first-of-type {
    margin-top: 2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-sm .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text:last-of-type {
    margin-bottom: 0
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md {
    height: 48px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-button {
    width: 48px;
    height: 48px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-badge {
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 18px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-message {
    padding: 14.4px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-message:after {
    border-width: 9.9px;
    margin-top: -9.9px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-message .push-bell-launcher-message-body {
    font-size: 14px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog {
    padding: .3em .8em .6em;
    color: #333
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog:after {
    border-top-color: #fff;
    border-width: 9.9px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog:before {
    border-top-color: hsla(0, 0%, 71%, .1);
    border-width: 11.9px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body {
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body h1 {
    font-size: 15px;
    line-height: 1.2em;
    font-weight: 500;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: .2px;
    text-align: center;
    color: #41090a
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body p {
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .divider {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: .25em -.93em
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .kickback {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 9.8px;
    letter-spacing: .5px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .instructions {
    max-width: 95vw;
    max-height: 70vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .instructions img {
    width: 100%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification {
    display: -ms-flexbox;
    display: flex;
    max-width: 330px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    background: hsla(0, 0%, 98%, .5);
    overflow: auto;
    margin: .5em 0
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon {
    width: 50px;
    height: 50px;
    margin: 6px;
    margin-right: 3px;
    border-radius: 2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon.push-notification-icon-default {
    background: #e3e4e5
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon img {
    width: 50px;
    height: 50px;
    border-radius: 1px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container {
    margin: 6px;
    margin-left: 3px;
    -ms-flex: 1;
    flex: 1
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text {
    height: 5px;
    width: 100%;
    background: #e3e4e5;
    margin: 5px 0;
    border-radius: 1px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text.push-notification-text-short {
    width: 75%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text.push-notification-text-medium {
    width: 87%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text:first-of-type {
    margin-top: 2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-md .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text:last-of-type {
    margin-bottom: 0
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg {
    height: 64px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-button {
    width: 64px;
    height: 64px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-badge {
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 24px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-message {
    padding: 19.2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-message:after {
    border-width: 13.2px;
    margin-top: -13.2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-message .push-bell-launcher-message-body {
    font-size: 14px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog {
    padding: .3em .8em .6em;
    color: #333
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog:after {
    border-top-color: #fff;
    border-width: 13.2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog:before {
    border-top-color: hsla(0, 0%, 71%, .1);
    border-width: 15.2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body {
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body h1 {
    font-size: 15px;
    line-height: 1.2em;
    font-weight: 500;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: .2px;
    text-align: center;
    color: #41090a
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body p {
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .divider {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: .25em -.93em
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .kickback {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 9.8px;
    letter-spacing: .5px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .instructions {
    max-width: 95vw;
    max-height: 70vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .instructions img {
    width: 100%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification {
    display: -ms-flexbox;
    display: flex;
    max-width: 330px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    background: hsla(0, 0%, 98%, .5);
    overflow: auto;
    margin: .5em 0
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon {
    width: 50px;
    height: 50px;
    margin: 6px;
    margin-right: 3px;
    border-radius: 2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon.push-notification-icon-default {
    background: #e3e4e5
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-icon img {
    width: 50px;
    height: 50px;
    border-radius: 1px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container {
    margin: 6px;
    margin-left: 3px;
    -ms-flex: 1;
    flex: 1
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text {
    height: 5px;
    width: 100%;
    background: #e3e4e5;
    margin: 5px 0;
    border-radius: 1px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text.push-notification-text-short {
    width: 75%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text.push-notification-text-medium {
    width: 87%
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text:first-of-type {
    margin-top: 2px
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-lg .push-bell-launcher-dialog .push-bell-launcher-dialog-body .push-notification .push-notification-text-container .push-notification-text:last-of-type {
    margin-bottom: 0
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-default .push-bell-launcher-button svg .background {
    fill: #e54b4d
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-default .push-bell-launcher-button svg .foreground {
    fill: #fff
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-default .push-bell-launcher-button svg .stroke {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
    stroke-miterlimit: 10
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-default .push-bell-launcher-button.push-bell-launcher-badge-active svg .background,
#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-default .push-bell-launcher-button.push-bell-launcher-button-active svg .background {
    fill: #dd2022!important
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-default .push-bell-launcher-button .pulse-ring {
    border: 7px solid hsla(0, 0%, 100%, .4)
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-default .push-bell-launcher-badge {
    border: 1px solid #fff;
    background: #000;
    color: #fff
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-inverse .push-bell-launcher-button svg .background {
    fill: #fff
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-inverse .push-bell-launcher-button svg .foreground {
    fill: #e54b4d
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-inverse .push-bell-launcher-button svg .stroke {
    fill: none;
    stroke: #e54b4d;
    stroke-width: 3px;
    stroke-miterlimit: 10
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-inverse .push-bell-launcher-button.push-bell-launcher-badge-active svg .background,
#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-inverse .push-bell-launcher-button.push-bell-launcher-button-active svg .background {
    fill: #f2f2f2!important
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-inverse .push-bell-launcher-button .pulse-ring {
    border: 7px solid rgba(229, 75, 77, .4)
}

#push-bell-container.push-reset .push-bell-launcher.push-bell-launcher-theme-inverse .push-bell-launcher-badge {
    border: 1px solid #fff;
    background: #e54b4d;
    color: #fff
}

#push-bell-container.push-reset .push-bell-launcher-active,
#push-bell-container.push-reset .push-bell-launcher-enabled {
    transform: scale(1);
    opacity: 1
}

#push-bell-container.push-reset .push-bell-launcher-disabled {
    visibility: hidden
}

#push-bell-container.push-reset .push-bell-launcher-inactive {
    opacity: .5
}

#push-bell-container.push-reset .pulse-ring {
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    animation: notifyButtonPulse .35s ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
    z-index: 1000;
    pointer-events: none
}

@media print {
    #push-bell-container {
        display: none
    }
}

@keyframes notifyButtonPulse {
    0% {
        transform: scale(.1);
        opacity: 0;
        border-width: 10px
    }
    50% {
        opacity: 1;
        border-width: 5px
    }
    to {
        transform: scale(1.2);
        opacity: 0;
        border-width: 1px
    }
}

.push-customlink-subscribe,
.push-customlink-subscribe.push-reset {
    display: inline-block;
    transition: all .1s;
    font-family: Open Sans, Arial, Helvetica, sans-serif
}

.push-customlink-subscribe.state-subscribed.hide {
    display: none
}

.push-customlink-subscribe.button {
    text-transform: uppercase;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer
}

.push-customlink-subscribe.button:active,
.push-customlink-subscribe.button:focus,
.push-customlink-subscribe.button:hover {
    text-decoration: none;
    box-shadow: 2px 3px 4px grey
}

.push-customlink-subscribe.button.state-subscribed {
    text-transform: none;
    font-weight: 400
}

.push-customlink-subscribe.link {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600
}

.push-customlink-subscribe.link.state-subscribed {
    text-transform: none;
    font-weight: 400
}

.push-customlink-subscribe.link:active,
.push-customlink-subscribe.link:focus,
.push-customlink-subscribe.link:hover {
    text-decoration: underline
}

.push-customlink-subscribe.button.small {
    font-size: 13px;
    padding: 4px 12px
}

.push-customlink-subscribe.link.small {
    font-size: 13px
}

.push-customlink-subscribe.button.medium {
    font-size: 15px;
    padding: 8px 16px
}

.push-customlink-subscribe.link.medium {
    font-size: 15px
}

.push-customlink-subscribe.button.large {
    font-size: 18px;
    padding: 12px 20px
}

.push-customlink-subscribe.link.large {
    font-size: 18px
}

.push-customlink-explanation,
.push-customlink-explanation.push-reset {
    color: rgba(0, 0, 0, .64);
    transition: all .1s;
    font-family: Proxima-Nova, Proxima Nova, Open Sans, Arial, Helvetica, sans-serif;
    margin-bottom: 12px
}

.push-customlink-explanation.state-subscribed.hide {
    display: none
}

.push-customlink-explanation.small {
    font-size: 13px
}

.push-customlink-explanation.large,
.push-customlink-explanation.medium {
    font-size: 15px
}

#push-popover-container {
    font-size: 14px;
    position: fixed;
    z-index: 2258594000;
    left: 0;
    right: 0;
    -webkit-font-smoothing: initial
}

#push-popover-container.slide-down {
    top: 0
}

#push-popover-container.slide-down.close-popover #push-popover-dialog {
    -webkit-animation-name: slideDownExit;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideDownExit;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: .4s;
    animation-fill-mode: forwards
}

#push-popover-container.slide-down #push-popover-dialog {
    width: 500px;
    -webkit-animation-name: slideDownEnter;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideDownEnter;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: .4s;
    animation-fill-mode: forwards
}

#push-popover-container.slide-down #push-popover-dialog.blocked-dialog {
    padding: 1.714em;
    width: 612px;
    margin-bottom: 18px
}

#push-popover-container.slide-down #push-popover-dialog.blocked-dialog #blocked-popover {
    display: block
}

#push-popover-container.slide-down #push-popover-dialog.blocked-dialog #normal-popover {
    display: none
}

#push-popover-container.slide-down #push-popover-dialog.blocked-dialog .popover-body-message {
    padding: 0 .2em;
    text-align: center;
    width: 100%
}

#push-popover-container.slide-down #push-popover-dialog.blocked-dialog .popover-body-message img {
    width: 100%
}

#push-popover-container.slide-down #push-popover-dialog.blocked-dialog .popover-body-message .unblock-image {
    margin: 2em 0 .5em
}

#push-popover-container.slide-down #push-popover-dialog.blocked-dialog .popover-button.secondary {
    padding: .714em 2em
}

#push-popover-container #blocked-popover {
    display: none
}

#push-popover-container.slide-up {
    bottom: 0
}

#push-popover-container.slide-up.close-popover #push-popover-dialog {
    -webkit-animation-name: slideUpExit;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideUpExit;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: .4s;
    animation-fill-mode: forwards
}

#push-popover-container.slide-up #push-popover-dialog {
    width: 100%;
    -webkit-animation-name: slideUpEnter;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: .4s;
    -webkit-animation-fill-mode: backwards;
    animation-name: slideUpEnter;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: .4s;
    animation-fill-mode: backwards
}

#push-popover-container #push-popover-dialog {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .22)!important;
    background: #fff!important;
    padding: 1.286em;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-family: Roboto, Noto, Helvetica Neue, Helvetica, Arial, sans-serif
}

#push-popover-container #push-popover-dialog .popover-body {
    box-sizing: border-box;
    margin: 0
}

#push-popover-container #push-popover-dialog .popover-body-icon {
    box-sizing: border-box;
    float: left;
    width: 80px;
    height: 80px;
    position: relative
}

#push-popover-container #push-popover-dialog .popover-body-icon img {
    width: 100%;
    height: 100%
}

#push-popover-container #push-popover-dialog .popover-body-icon img.default-icon {
    width: 45px;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 45px
}

#push-popover-container #push-popover-dialog .popover-body-message {
    box-sizing: border-box;
    padding: 0 .2em 0 1.286em;
    float: left;
    width: calc(100% - 80px);
    font-size: 1.143em;
    line-height: 1.45em;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: #666!important
}

#push-popover-container #push-popover-dialog button {
    box-sizing: border-box;
    display: inline-block;
    padding: .375rem 1rem;
    font-size: .9625em;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-family: inherit;
    letter-spacing: .05em;
    transition: background-color 75ms ease;
    margin: 0
}

#push-popover-container #push-popover-dialog .popover-button {
    padding: .714em 2em;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: 400
}

#push-popover-container #push-popover-dialog .popover-button.primary {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 6px 0 rgba(0, 0, 0, .12);
    background: #1165f1;
    color: #fff!important
}

#push-popover-container #push-popover-dialog .popover-button.primary:hover {
    background: #0c55d0;
}

.popover-button.primary:active {
    background: #0a47ab
}

#push-popover-container #push-popover-dialog .popover-button.secondary {
    box-shadow: none;
    background: #fff!important;
    color: #1165f1!important
}

#push-popover-container #push-popover-dialog .popover-button.secondary:hover {
    color: #0b4cb7
}

#push-popover-container #push-popover-dialog .popover-button.secondary:active {
    color: #062861
}

#push-popover-container #push-popover-dialog .primary.popover-button+.secondary.popover-button {
    margin-right: .714em
}

#push-popover-container #push-popover-dialog .popover-footer {
    position: relative;
    margin: .25em .25em 0 0
}

#push-popover-container #push-popover-dialog .align-right {
    float: right
}

#push-popover-container #push-popover-dialog .clearfix {
    display: block;
    -webkit-backface-visibility: initial!important;
    backface-visibility: initial!important
}

#push-popover-container #push-popover-dialog .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

@keyframes slideDownEnter {
    0% {
        transform: translateY(-150%)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes slideDownExit {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(-150%)
    }
}

@keyframes slideUpEnter {
    0% {
        transform: translateY(150%)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes slideUpExit {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(150%)
    }
}

.push-reset,
.push-reset a,
.push-reset abbr,
.push-reset acronym,
.push-reset address,
.push-reset applet,
.push-reset area,
.push-reset article,
.push-reset aside,
.push-reset audio,
.push-reset b,
.push-reset big,
.push-reset blockquote,
.push-reset button,
.push-reset canvas,
.push-reset caption,
.push-reset cite,
.push-reset code,
.push-reset col,
.push-reset colgroup,
.push-reset datalist,
.push-reset dd,
.push-reset del,
.push-reset dfn,
.push-reset div,
.push-reset dl,
.push-reset dt,
.push-reset em,
.push-reset fieldset,
.push-reset figcaption,
.push-reset figure,
.push-reset footer,
.push-reset form,
.push-reset h1,
.push-reset h2,
.push-reset h3,
.push-reset h4,
.push-reset h5,
.push-reset h6,
.push-reset header,
.push-reset hr,
.push-reset i,
.push-reset iframe,
.push-reset img,
.push-reset input,
.push-reset ins,
.push-reset kbd,
.push-reset label,
.push-reset legend,
.push-reset li,
.push-reset main,
.push-reset map,
.push-reset mark,
.push-reset menu,
.push-reset meta,
.push-reset nav,
.push-reset object,
.push-reset ol,
.push-reset optgroup,
.push-reset option,
.push-reset output,
.push-reset p,
.push-reset pre,
.push-reset progress,
.push-reset q,
.push-reset samp,
.push-reset section,
.push-reset select,
.push-reset small,
.push-reset span,
.push-reset strike,
.push-reset strong,
.push-reset sub,
.push-reset summary,
.push-reset sup,
.push-reset table,
.push-reset tbody,
.push-reset td,
.push-reset textarea,
.push-reset tfoot,
.push-reset th,
.push-reset thead,
.push-reset time,
.push-reset tr,
.push-reset tt,
.push-reset ul,
.push-reset var,
.push-reset video {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-color: #000;
    border: medium currentColor;
    bottom: auto;
    clear: none;
    clip: auto;
    color: inherit;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: inherit;
    display: inline;
    float: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    height: auto;
    left: auto;
    letter-spacing: normal;
    line-height: inherit;
    list-style-type: inherit;
    list-style-position: outside;
    list-style-image: none;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    outline: medium invert;
    overflow: visible;
    padding: 0;
    position: static;
    quotes: "" "";
    right: auto;
    table-layout: auto;
    text-align: inherit;
    text-decoration: inherit;
    text-indent: 0;
    text-transform: none;
    top: auto;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: inherit;
    white-space: normal;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto;
    -o-border-image: none;
    border-image: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: content-box;
    column-count: auto;
    column-gap: normal;
    column-rule: medium none #000;
    column-span: 1;
    column-width: auto;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    overflow-x: visible;
    overflow-y: visible;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    -ms-perspective: none;
    -o-perspective: none;
    perspective: none;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    text-shadow: none;
    transition: all 0s ease 0s;
    transform: none;
    transform-origin: 50% 50%;
    transform-style: flat;
    word-break: normal
}

.push-reset,
.push-reset address,
.push-reset article,
.push-reset audio,
.push-reset blockquote,
.push-reset caption,
.push-reset colgroup,
.push-reset dd,
.push-reset dialog,
.push-reset div,
.push-reset dl,
.push-reset dt,
.push-reset fieldset,
.push-reset figure,
.push-reset footer,
.push-reset form,
.push-reset h1,
.push-reset h2,
.push-reset h3,
.push-reset h4,
.push-reset h5,
.push-reset h6,
.push-reset header,
.push-reset hgroup,
.push-reset hr,
.push-reset main,
.push-reset menu,
.push-reset nav,
.push-reset ol,
.push-reset option,
.push-reset p,
.push-reset pre,
.push-reset progress,
.push-reset section,
.push-reset summary,
.push-reset ul,
.push-reset video {
    display: block
}

.push-reset h1,
.push-reset h2,
.push-reset h3,
.push-reset h4,
.push-reset h5,
.push-reset h6 {
    font-weight: 700
}

.push-reset h1 {
    font-size: 2em;
    padding: .67em 0
}

.push-reset h2 {
    font-size: 1.5em;
    padding: .83em 0
}

.push-reset h3 {
    font-size: 1.17em;
    padding: .83em 0
}

.push-reset h4 {
    font-size: 1em
}

.push-reset h5 {
    font-size: .83em
}

.push-reset p {
    margin: 1em 0
}

.push-reset table {
    display: table
}

.push-reset thead {
    display: table-header-group
}

.push-reset tbody {
    display: table-row-group
}

.push-reset tfoot {
    display: table-footer-group
}

.push-reset tr {
    display: table-row
}

.push-reset td,
.push-reset th {
    display: table-cell;
    padding: 2px
}

.push-reset ol,
.push-reset ul {
    margin: 1em 0
}

.push-reset ol li,
.push-reset ol ol li,
.push-reset ol ol ol li,
.push-reset ol ol ul li,
.push-reset ol ul ul li,
.push-reset ul li,
.push-reset ul ol ol li,
.push-reset ul ul li,
.push-reset ul ul ol li,
.push-reset ul ul ul li {
    list-style-position: inside;
    margin-top: .08em
}

.push-reset ol ol,
.push-reset ol ol ol,
.push-reset ol ol ul,
.push-reset ol ul,
.push-reset ol ul ul,
.push-reset ul ol,
.push-reset ul ol ol,
.push-reset ul ul,
.push-reset ul ul ol,
.push-reset ul ul ul {
    padding-left: 40px;
    margin: 0
}

.push-reset nav ol,
.push-reset nav ul {
    list-style-type: none
}

.push-reset menu,
.push-reset ul {
    list-style-type: disc
}

.push-reset ol {
    list-style-type: decimal
}

.push-reset menu menu,
.push-reset menu ul,
.push-reset ol menu,
.push-reset ol ul,
.push-reset ul menu,
.push-reset ul ul {
    list-style-type: circle
}

.push-reset menu menu menu,
.push-reset menu menu ul,
.push-reset menu ol menu,
.push-reset menu ol ul,
.push-reset menu ul menu,
.push-reset menu ul ul,
.push-reset ol menu menu,
.push-reset ol menu ul,
.push-reset ol ol menu,
.push-reset ol ol ul,
.push-reset ol ul menu,
.push-reset ol ul ul,
.push-reset ul menu menu,
.push-reset ul menu ul,
.push-reset ul ol menu,
.push-reset ul ol ul,
.push-reset ul ul menu,
.push-reset ul ul ul {
    list-style-type: square
}

.push-reset li {
    display: list-item;
    min-height: auto;
    min-width: auto;
    padding-left: 20px
}

.push-reset strong {
    font-weight: 700
}

.push-reset em {
    font-style: italic
}

.push-reset code,
.push-reset kbd,
.push-reset pre,
.push-reset samp {
    font-family: monospace
}

.push-reset a {
    color: blue;
    text-decoration: underline
}

.push-reset a:visited {
    color: #529
}

.push-reset a,
.push-reset a *,
.push-reset input[type=checkbox],
.push-reset input[type=radio],
.push-reset input[type=submit],
.push-reset select {
    cursor: pointer
}

.push-reset button,
.push-reset input[type=submit] {
    text-align: center;
    padding: 2px 6px 3px;
    border-radius: 4px;
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: small;
    -webkit-appearance: push-button;
    color: buttontext;
    border: 1px solid #a6a6a6;
    background: #d3d3d3;
    background: #fff;
    background: linear-gradient(180deg, #fff 0, #ddd 100%, #d1d1d1 0, #ddd 0);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#dddddd", GradientType=0);
    -o-box-shadow: 1px 1px 0 #eee;
    box-shadow: 1px 1px 0 #eee;
    outline: initial
}

.push-reset button {
    padding: 1px 6px 2px;
    margin-right: 5px
}

.push-reset input[type=hidden] {
    display: none
}

.push-reset textarea {
    -webkit-appearance: textarea;
    background: #fff;
    padding: 2px;
    margin-left: 4px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 11px;
    font-family: arial, helvetica, sans-serif;
    line-height: 13px;
    resize: both
}

.push-reset input,
.push-reset select,
.push-reset textarea {
    border: 1px solid #ccc
}

.push-reset select {
    font-size: 11px;
    font-family: helvetica, arial, sans-serif;
    display: inline-block
}

.push-reset input:focus,
.push-reset textarea:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline: initial
}

.push-reset input[type=text] {
    background: #fff;
    padding: 1px;
    font-family: initial;
    font-size: small
}

.push-reset input[type=checkbox],
.push-reset input[type=radio] {
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    outline: intial
}

.push-reset input[type=radio] {
    margin: 2px 2px 3px
}

.push-reset button:active,
.push-reset input[type=submit]:active {
    background: #3b679e;
    background: linear-gradient(180deg, #3b679e 0, #2b88d9 50%, #207cca 51%, #7db9e8);
    border-color: #5259b0
}

.push-reset abbr[title],
.push-reset acronym[title],
.push-reset dfn[title] {
    cursor: help;
    border-bottom-width: 1px;
    border-bottom-style: dotted
}

.push-reset ins {
    background-color: #ff9;
    color: #000
}

.push-reset del {
    text-decoration: line-through
}

.push-reset blockquote,
.push-reset q {
    quotes: none
}

.push-reset blockquote:after,
.push-reset blockquote:before,
.push-reset li:after,
.push-reset li:before,
.push-reset q:after,
.push-reset q:before {
    content: ""
}

.push-reset input,
.push-reset select {
    vertical-align: middle
}

.push-reset table {
    border-collapse: collapse;
    border-spacing: 0
}

.push-reset hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0
}

.push-reset [dir=rtl] {
    direction: rtl
}

.push-reset mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

.push-reset menu {
    padding-left: 40px;
    padding-top: 8px
}

.push-reset [hidden],
.push-reset template {
    display: none
}

.push-reset abbr[title] {
    border-bottom: 1px dotted
}

.push-reset sub,
.push-reset sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.push-reset sup {
    top: -.5em
}

.push-reset sub {
    bottom: -.25em
}

.push-reset img {
    border: 0
}

.push-reset figure {
    margin: 0
}

.push-reset textarea {
    overflow: auto;
    vertical-align: top
}

.push-reset {
    font-size: medium;
    line-height: 1;
    direction: ltr;
    text-align: left;
    text-align: start;
    font-family: Times New Roman, Times, serif;
    color: #000;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    list-style-type: disc
}

.push-reset pre {
    white-space: pre
}
